body{
    height: 100%
}

.carousel{
    width: 3.3rem;
    height: 4.6rem;
    margin: 0 auto; 
    border: 0.04rem solid #F7F7F7;

    img{
        width: 100%;
        height: 100%;   
    }   
}

.info{
    width: 3.3rem;
    margin: 0 auto;
    padding-bottom: 0.2rem;
    border-bottom: 0.01rem solid #F7F7F7;
    h1{
        font-size: 18px;
        font-weight: 500;
        color: #000
    }
    .marketPrice{
        font-size: 13px;
        font-weight: bold;
        color: #CCC;
        text-decoration: line-through;
        height: 0.1rem
    }
    .price{
        font-size: 17px;
        font-weight: bold;
        color:#DD2828
    }
    .discount{
        font-size: 13px;
        border: 0.01rem solid #000;
        color: #000;
        margin-left: 0.1rem;
        padding: 0.01rem;
    }
    .warehouse_name{
        font-size: 13px;
        font-weight: bold;
        color: #000
    }
    .deliver_date{
        font-size: 13px;
        font-weight: bold;
        margin-left: .2rem;
    }

}
.TimeServer{
    width: 3.3rem;
    margin: 0 auto;
    .Time{
        width: 3.3rem;
        font-size: 13px;
        height: 0.6rem;
        line-height: 0.6rem;
        border-bottom: 0.02rem solid #F7F7F7;
        .over{
            margin-left: 0.3rem;
            color: #000;
            font-weight: bold
        }
    }
    .Server{
        width: 3.3rem;
        font-size: 13px;
        height: 0.6rem;
        line-height: 0.6rem;
        border-bottom: 0.02rem solid #F7F7F7;
        .warning{
            margin-left: 0.3rem; 
        }
    }
}
.drawer{
    font-size: 12px;
    .title{
            font-size: 13px;
            font-weight: bold;
            color: #000
        }
}
.enter{
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #000;
    height: 0.3rem;
    line-height: 0.3rem;    
    border-top: 0.02rem solid #CCC
}

.parameter{
    width: 3.3rem;
    margin: 0 auto;
    font-weight: bold;
    border-bottom: 0.03rem solid #F7F7F7;
    h2{    
        font-weight: bold;
        font-size: 18px; 
        margin-top: 0.2rem;
    }
    .infomation {
        li{
            line-height: 0.3rem;
        }
        .name{
            width: 1rem;
            display: inline-block; 
            height: 0.3rem;     
        }
        .value{
            color: #000;
            height: 0.3rem;
            width: 2.2rem;
            display: inline-block;
        }
    }
}

.pic{
    width: 3.3rem;
    margin: 0 auto; 
    border-bottom: 0.03rem solid #F7F7F7;
    h2{
        font-weight: bold;
        font-size: 18px; 
        margin-top: 0.2rem;
    }
    img{
        width: 100%
    }
    .intro{    
        font-size: 12px;
        color: #000;
    }
}

.returnNote{
    width: 3.3rem;
    margin: 0 auto; 
    border-bottom: 0.03rem solid #F7F7F7;
    h2{
        font-weight: bold;
        font-size: 18px; 
        margin-top: 0.2rem;
    }
    p{    
        font-size: 12px;
        color: #000;
    }
}

.package{
    width: 3.3rem;
    margin: 0 auto; 
    border-bottom: 0.03rem solid #F7F7F7;
    h2{
        font-weight: bold;
        font-size: 18px; 
        margin-top: 0.2rem;
    }
    img{
        width: 100%
    }
    p{    
        font-size: 12px;
        color: #000;
        line-height: 0.12rem;
        margin-top: 0.3rem;
    }
}

.brand{
    width: 3.3rem;
    margin: 0 auto; 
    border-bottom: 0.03rem solid #F7F7F7;

    h2{
        font-weight: bold;
        font-size: 18px; 
        margin-top: 0.2rem;
        span{
            margin-left: 1.6rem;
            font-size: 14px;
            color: gray;
            font-weight: 100;
            display: inline-block;
        }   
    } 
    .more{
        text-align: center;
        font-weight: bold;
        color: #000;
        display: block;
        margin-top: 2rem;
    }
    p{
        color: #000;
        margin-top: 2rem;
        
    }
}

.overseas{
    width: 3.8rem;
    margin: 0 auto;
    img{
        width: 100%
    }
}

.tabbar{
    display: flex;
    li{
        flex:1;
        text-align: center;
        height: 0.3rem;
        line-height: 0.3rem;
        font-weight: bold;
    }
    .highline{
        color: #000;
    }
}