.eventContainer{
    padding-top: .15rem;
}
.hotarea{
    position: relative;
    width: 100%;
    margin: 0 auto;
    .pic{
        position: relative;
        img{
            width: 100%;
        }
    }
}